In [ ]:
#  Se usa biblioteca google
from google.colab import drive

# Se Conecta colab con drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Se importa biblioteca panda
import pandas as pd

In [ ]:
# Se importa la base de datos 'retail_sales_dataset.cvs' y se guarda en una variable
path = "/content/drive/MyDrive/DATA/retail_sales_dataset.csv"
# el DataFrame  se asigna como df
df = pd.read_csv(path)

In [ ]:
# se muestra lios primeras 10 filas del DataFrame
df.head(10)

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100
5,6,2023-04-25,CUST006,Female,45,Beauty,1,30,30
6,7,2023-03-13,CUST007,Male,46,Clothing,2,25,50
7,8,2023-02-22,CUST008,Male,30,Electronics,4,25,100
8,9,2023-12-13,CUST009,Male,63,Electronics,2,300,600
9,10,2023-10-07,CUST010,Female,52,Clothing,4,50,200

In [ ]:
# se muestra el total de filas del DataFrame
df.shape

(1000, 9)

In [ ]:
#  se muestra informacion general de los datos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

### Exploración de Datos:

In [ ]:
# se muestra la infomacion de nombres de columnas
print(df.columns)

Index(['Transaction ID', 'Date', 'Customer ID', 'Gender', 'Age',
       'Product Category', 'Quantity', 'Price per Unit', 'Total Amount'],
      dtype='object')

### Calcula el total de ventas por categoría de producto.

In [ ]:
filtro = df.groupby(['Product Category'])["Total Amount"].sum()
print(filtro)

Product Category
Beauty         143515
Clothing       155580
Electronics    156905
Name: Total Amount, dtype: int64

### Calcula el promedio de ventas diarias por categoría de producto.

In [ ]:
# se agrupa los datos por categoria y fecha y se aplica el promedio del total de ventas
df.groupby(["Product Category", "Date"])["Total Amount"].mean()

Product Category  Date
Beauty            2023-01-01    1500.0
                  2023-01-02      25.0
                  2023-01-03     600.0
                  2023-01-04     545.0
                  2023-01-05      50.0
                                 ...
Electronics       2023-12-27     600.0
                  2023-12-28      37.5
                  2023-12-29     100.0
                  2023-12-31      50.0
                  2024-01-01      30.0
Name: Total Amount, Length: 655, dtype: float64

### Identifica las categorías de productos con mayores y menores ventas.

In [ ]:
# se agrupa los datos por Categoria con funcion groupby, se aplica la suma por el total de cada categoria, luego se ordenan los datos en orden descendente
# funcion sort_value expuesta en un ejemplo

fil_1 = df.groupby(["Product Category"])["Total Amount"].sum().sort_values(ascending=False)
print(fil_1)

Product Category
Electronics    156905
Clothing       155580
Beauty         143515
Name: Total Amount, dtype: int64

4. Manipulación de Datos:

*  Filtra los datos para mostrar solo las ventas de una categoría de producto específica.

In [ ]:
categoria = "Clothing"
df_1 = df[df["Product Category"] == categoria]
fil_1 = df_1.groupby(["Product Category"])["Total Amount"].sum()
print(fil_1)

Product Category
Clothing    155580
Name: Total Amount, dtype: int64

+ Realiza operaciones de suma, resta, multiplicación y división en los datos para obtener estadísticas adicionales.

In [ ]:
# Las  columnas deben contener numeros
"""
Se crea una columna nueva con la suma de las las columnas 'Total Amount' y 'Precio per Unit' y
se agrega al dataframe
"""

df["Suma Price per Unit y Total Amount"] = df["Price per Unit"] + df["Total Amount"]
print("\n",df[['Price per Unit', 'Total Amount', 'Suma Price per Unit y Total Amount']].head())

df["Resta Price per Unit a Total Amount"] = df["Total Amount"] - df["Price per Unit"]
print("\n",df[['Total Amount', 'Price per Unit', 'Resta Price per Unit a Total Amount']].head())

df["Multiplica Price per Unit por Total Amount"] = df["Price per Unit"] * df["Total Amount"]
print("\n",df[['Price per Unit', 'Total Amount', 'Multiplica Price per Unit por Total Amount']].head())

df["Divide Total Amount por Price per Unit"] = df["Total Amount"] / df["Price per Unit"]
print("\n",df[['Total Amount', 'Price per Unit', 'Divide Total Amount por Price per Unit']].head())

    Price per Unit  Total Amount  Suma Price per Unit y Total Amount
0              50           150                                 200
1             500          1000                                1500
2              30            30                                  60
3             500           500                                1000
4              50           100                                 150

    Total Amount  Price per Unit  Resta Price per Unit a Total Amount
0           150              50                                  100
1          1000             500                                  500
2            30              30                                    0
3           500             500                                    0
4           100              50                                   50

    Price per Unit  Total Amount  Multiplica Price per Unit por Total Amount
0              50           150                                        7500
1             500          1000                                      500000
2              30            30                                         900
3             500           500                                      250000
4              50           100                                        5000

    Total Amount  Price per Unit  Divide Total Amount por Price per Unit
0           150              50                                     3.0
1          1000             500                                     2.0
2            30              30                                     1.0
3           500             500                                     1.0
4           100              50                                     2.0